.progress {
  height: 20px;
  width: 500px;
  border: solid 1px #444;
  margin: 20px;
}

.progress > div {
  background-color: red;
  color: #fff;
  height: 100%;
  text-align: right;
  font-size: 14px;
  width: 0%;
}

.video {
  height: 1080px;
  width: 920px;
}
